:root {
	--neutral-900: #12131a;
	--neutral-800: #21222c;
	--neutral-700: #2a2b37;
	--purple-400: #d3a0fa;
	--purple-500: #c27cf8;
	--yellow-500: #ff9f00;
	--orange-500: #fe8159;
	--orange-800: #da3701;

	font-family: "DM Sans", sans-serif;
}

* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	gap: 64px;
	color: white;
	background-color: var(--neutral-900);
	margin: 48px;
}

input,
textarea,
button {
	font-family: inherit;
}

ul {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

ul,
li {
	padding: 0;
}

li {
	display: flex;
	gap: 12px;
	align-items: center;
	list-style: none;
}

h1 {
	font-size: 4rem;
	line-height: 100%;
	letter-spacing: -1px;
	font-weight: 900;
}

h2 {
	font-size: 3.2rem;
	line-height: 100%;
	letter-spacing: -1px;
	font-weight: 900;
}

h3 {
	font-size: 2.245rem;
	line-height: 130%;
	letter-spacing: -1px;
	font-weight: 700;
}

h4 {
	font-size: 1.125rem;
	line-height: 140%;
	letter-spacing: -0.6px;
	font-weight: 600;
}

button {
	padding: 12px;
}

button,
textarea {
	background-color: var(--neutral-800);
	border: 2px solid var(--neutral-700);
	border-radius: 12px;
}

textarea {
	padding: 24px 12px;
	min-height: 20vh;
	color: white;
}

main {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.text-center {
	text-align: center;
}

.neutral-900-text {
	color: var(--neutral-900) !important;
}

.purple-400 {
	background-color: var(--purple-400) !important;
}

.yellow-500 {
	background-color: var(--yellow-500) !important;
}

.orange-500 {
	background-color: var(--orange-500) !important;
}

.hero {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.hero form {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

form label {
	display: flex;
	gap: 8px;
}

form .form-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
}

form .form-actions .form-actions-inner {
	display: flex;
	gap: 24px;
}

.summary {
	display: grid;
	grid-template-areas:
		"characters word sentence"
		"density density density";
	gap: 48px;
}

.card {
	position: relative;
	display: flex;
	padding: 32px 24px;
	flex-direction: column;
	gap: 32px;
	border-radius: 12px;
	overflow: hidden;
}

.card .card-overflow {
	position: absolute;
	right: 0;
}

.card.card-characters {
	grid-area: characters;
}

.card.card-sentence {
	grid-area: sentence;
}

.card.card-word {
	grid-area: word;
}

.letters-list {
	grid-area: density;
}